In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import tree

In [22]:
data = pd.read_csv('wine.csv',sep=';')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 149.9 KB

In [23]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [24]:
#label
y=data['quality']

In [25]:
y.unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [26]:
y.value_counts(normalize='True')

5    0.425891
6    0.398999
7    0.124453
4    0.033146
8    0.011257
3    0.006254
Name: quality, dtype: float64

In [27]:
X = data.drop('quality', axis=1)

In [33]:
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [34]:
X.shape

(1599, 11)

In [35]:
y.shape

(1599,)

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.1)
print(type(y_test))

<class 'pandas.core.series.Series'>

In [37]:
print(len(X_train))
print(len(y_train))
print(len(y_test))
print(len(X_test))

1439
1439
160
160

In [38]:
X_train_scaled = preprocessing.scale(X_train)
print (X_train_scaled)

[[-0.23499576  0.74083872 -1.37679267 ...  0.77252956 -0.45005468
  -0.86780489]
 [-0.00460305  1.78290983 -1.32576488 ...  0.06351521 -0.45005468
   0.55284977]
 [-0.23499576  0.2338852   0.20506856 ... -0.12985233  0.1905276
  -0.86780489]
 ...
 [ 0.3985842   0.51552604 -1.17268154 ... -0.96777837  0.24876235
  -0.9625152 ]
 [ 0.80177144 -1.23064718  1.02151307 ... -0.25876403  0.01582334
  -0.39425333]
 [-0.00460305  0.68451055 -0.86651485 ... -0.12985233 -0.62475894
  -0.86780489]]

In [39]:
clf=tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [40]:
confidence = clf.score(X_test, y_test)
print("\nThe confidence score:\n")
print(confidence)

The confidence score:

0.65625

In [41]:
y_pred = clf.predict(X_test)
print(y_pred)

[6 6 7 6 5 6 6 5 6 5 7 6 6 7 7 6 5 5 6 6 6 6 5 6 5 6 6 6 6 6 6 4 5 5 6 7 6
 5 5 5 5 8 6 5 5 5 5 6 6 5 7 5 5 6 6 7 5 6 6 6 6 6 5 6 5 7 7 5 6 5 5 6 6 6
 6 6 6 7 5 6 5 7 5 6 5 5 6 7 7 5 5 5 6 6 7 6 5 7 5 5 6 6 5 7 7 6 6 5 5 5 7
 6 5 7 6 7 6 5 7 6 7 7 6 5 7 5 5 6 5 6 6 5 7 7 5 6 6 5 6 8 5 5 5 6 6 5 5 6
 5 5 8 5 6 6 4 5 6 6 5 8]

In [14]:
#converting the numpy array to list
prediction=np.array(y_pred).tolist()

#printing first 5 predictions
print("\nThe prediction:\n")
for i in range(0,10):
    print (prediction[i])
    
#printing first five expectations
print("\nThe expectation:\n")
print( y_test.head(10))

The prediction:

5
7
5
5
5
5
5
6
7
5

The expectation:

12      5
930     5
986     7
1040    5
852     5
156     5
686     5
725     5
505     7
665     5
Name: quality, dtype: int64